<nav>
    <ul>
        <li><a routerLink="">Головна</a></li>
        
        <li><a routerLink="">Інформація про організацію</a></li>
        
        <li><a routerLink="">Команда</a></li>
        
        <li><a routerLink="/news">Новини</a></li>
        
        <li><a routerLink="">Галерея</a></li>
        
        <li><a routerLink="/membership">Членство</a></li>
        
        <li><a routerLink="/partners">Партнери</a></li>

        <li><a routerLink="/contacts">Контакти</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>